/* the:after pseudo class inserts something after the content of the specified element */
body:after {
    content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png); 
    display:none;

}

/*z-index specifies if something is infront of another element or behind another element */
.lightboxOverlay {
position: absolute;
top: 0;
left: 0;
z-index: 9999  ;
background-color: black;
opacity: 0.8;
display: none;
}

.lightbox {
position: absolute;
left: 0;
width: 100%;
z-index: 10000;
line-height: 0;
font-weight: normal;
}

.lightbox .lb-image {
display:block;
height: auto;
border-radius:3px;
}

.lightbox a img {
border: none;
}

.lb-outerContainer {
position: relative;
background-color: white;
width: 250px;
height:250px;
margin: 0 auto;
border-radius:4px;
}

.lb-outerContainer:after {
content: "";
display: table;
clear: both;
}

.lb-container {
    padding: 4px
}

.lb-loader{
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
position: absolute;
top: 0;
height: 100%;
left: 0;
width: 100%;
z-index: 10;
}

/* applying positioning to the nav that is direct child of the container */
.lb-container > .lb-nav {
    left: 0;
}

.lb-nav a{
    outline: none;
}

.lb-prev, .lb-next {
    width: 49%;
    height: 100%;
    cursor: pointer;
    /*Trick the IE into showing hover*/
    display: block;
}

.lb-prev {
    float: left;
    left: 0;
}

.lb-prev:hover {
    background: url(../images/prev.png) left 48% no-repeat;
}

.lb-next {
    float: right;
    right: 0;
}

.lb-next:hover {
    background: url(../images/next.png) right 48% no-repeat;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #bbbbbb;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-number{
    display:block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close{
display:block;
float:right;
width: 30px;
height: 30px;
background: url(../images/close.png) top right no-repeat;
text-align: right;
outline: none;
opacity:0.7;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    opacity: 1;
}
